# Proyecto entrega 1

### Integrantes
* Santiago Gomez
* Sebastian Martinez
* Johan Suarez

### Grupo
36

## Carga de datos

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dfOriginal = pd.read_excel('Datos_proyecto.xlsx')
dfOriginal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2424 entries, 0 to 2423
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   textos  2424 non-null   object
 1   labels  2424 non-null   int64
dtypes: int64(1), object(1)
memory usage: 38.0+ KB

### Exploración del texto

Principalmente observemos el formato inicial del dataset, con especial enfasis en la columna de textos

In [84]:
dfOriginal.head()
df = dfOriginal.copy()
df['textos'] = df['textos'].astype("string")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2424 entries, 0 to 2423
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   textos  2424 non-null   string
 1   labels  2424 non-null   int64
dtypes: int64(1), string(1)
memory usage: 38.0 KB

Exploracion de longitudes de los textos presentados en el dataset

In [85]:
def columnasConteo(df : pd.DataFrame):
    df['Conteo'] = [len(x) for x in df['textos']]
    df['Max'] = [[max([len(x) for x in i.split(' ')])][0] for i in df['textos']]
    df['Min'] = [[min([len(x) for x in i.split(' ')])][0] for i in df['textos']]
columnasConteo(df)
df.head()

                                              textos  labels  Conteo  Max  Min
0  "Aprendizaje" y "educación" se consideran sinó...       4     352   14    1
1  Para los niños más pequeños (bebés y niños peq...       4     516   16    1
2  Además, la formación de especialistas en medic...       3     659   15    1
3  En los países de la OCDE se tiende a pasar de ...       4     693   18    1
4  Este grupo se centró en las personas que padec...       3     608   14    0

Veamos ahora los maximos, minimos y promedio de la longitud de los textos del dataset

In [86]:
def longitud(df: pd.DataFrame):
    maximo = df['Conteo'].max()
    minimo = df['Conteo'].min()
    promedio = int(df['Conteo'].mean())
    print(f'El maximo de longitud es: {maximo}')
    print(f'El minimo de longitud es: {minimo}')
    print(f'El promedio de longitud es: {promedio:.2f}')
longitud(df)

El maximo de longitud es: 1492
El minimo de longitud es: 303
El promedio de longitud es: 683.00

Presencia de catracteres especiales

In [88]:
def especiales(df : pd.DataFrame):
    signos = r"(?:[!¡¿?;:'\"]|\.{3})"
    signosPresentes = df['textos'].str.contains(signos).sum()
    print(f'La cantidad de textos con signos de puntuación es: {signosPresentes}')
    print(f'El porcentaje de textos con signos de puntuación es: {signosPresentes/len(df)*100:.2f}%')
    especiales = r"(?:[@#$%^&*()_+=\[\]{}|\\<>/~`])"
    especialesPresentes = df['textos'].str.contains(especiales).sum()
    print(f'La cantidad de textos con caracteres especiales es: {especialesPresentes}')
    print(f'El porcentaje de textos con caracteres especiales es: {especialesPresentes/len(df)*100:.2f}%')
especiales(df)

La cantidad de textos con signos de puntuación es: 596
El porcentaje de textos con signos de puntuación es: 24.59%
La cantidad de textos con caracteres especiales es: 1562
El porcentaje de textos con caracteres especiales es: 64.44%

### Limpieza

Procedemos a poner todo el dataset en un único formato

In [89]:
def todoAmin(df: pd.DataFrame):
    df['textos'] = df['textos'].str.lower()
todoAmin(df)
df.head()

                                              textos  labels  Conteo  Max  Min
0  "aprendizaje" y "educación" se consideran sinó...       4     352   14    1
1  para los niños más pequeños (bebés y niños peq...       4     516   16    1
2  además, la formación de especialistas en medic...       3     659   15    1
3  en los países de la ocde se tiende a pasar de ...       4     693   18    1
4  este grupo se centró en las personas que padec...       3     608   14    0

Limpieza de caracteres especiales, signos y urls

In [92]:
def limpiza(df: pd.DataFrame):
    df['textos'] = df['textos'].str.replace(r"http[s]?://[^\s)]+", '', regex=True)
    df['textos'] = df['textos'].str.replace(r"(?:[!¡¿?;:'\".,]|\.{3})", '', regex=True)
    df['textos'] = df['textos'].str.replace(r"(?:[@#$%^&*()_+=\[\]{}|\\<>/~`])", '', regex=True)
    df['textos'] = df['textos'].str.replace(r"\s+", ' ', regex=True).str.strip()
limpiza(df)
df.head()

                                              textos  labels  Conteo  Max  Min
0  aprendizaje y educación se consideran sinónimo...       4     352   14    1
1  para los niños más pequeños bebés y niños pequ...       4     516   16    1
2  además la formación de especialistas en medici...       3     659   15    1
3  en los países de la ocde se tiende a pasar de ...       4     693   18    1
4  este grupo se centró en las personas que padec...       3     608   14    0

### Tokenización